@mixin heading($font-size) {
  margin-top: 0;
  font-size: $font-size;
}

@mixin btn($color, $bg-color) {
  color: $color;
  background-color: $bg-color;
  padding: 5px 30px;
  border: 1px solid $blue-light;
  border-radius: 20px;
}
